table {
    width: 100%;
    margin-top: 10px;
  }

  th{
    width: 20%;
  }

  .pointer{
    cursor: pointer;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .derecha{
    position: relative;
    left: 85%;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  